@model IEnumerable<PersonalHub.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="index-padding-top">Categories</h1>
<p class="pb-2 border-bottom">Here you can add Organizations, Events, and various 
    different categories to better organize your Schedule.</br> 
    Check out the Help page to learn different ways on how to 
    use our organization feature!</p>

<a asp-action="Create"><button class="btn btn-secondary">Add</button></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
